.help-link {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #bbb;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
    -webkit-transition: color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s
}

.help-link:hover {
    color: #fff
}