body {
    margin: 16px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color:black;
    border: 1px dotted rgb(253, 168, 168);
    text-align: center;
    width: 240px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.greet {
    font-size: 18px;
    color: #3f3e3f;
    text-decoration: underline dotted #9b9b9b;
}

.des {
    font-size: 16px;
    color: #3f3e3f;
    letter-spacing: 1px;
    line-height: 25px;
}

[wo]::first-letter {
    font-size: 30px;
}

em {
    color: black;
    font-size: 18px;
}

strong {
    color: red;
}

.das-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}

@media (min-width: 700px) {
    .das-box {
        grid-template-columns: repeat(5, 120px);
        grid-template-rows: repeat(3, 120px);
    }
}

.das-box > div {
    margin: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


.das-box > div > p {
    font-size: 30px;
    text-align: center;
}

.das-box div:nth-child(1) {
    background-color: antiquewhite;
}
.das-box div:nth-child(2) {
    background-color: cadetblue;
}
.das-box div:nth-child(3) {
    background-color: rgb(114, 79, 33);
}
.das-box div:nth-child(4) {
    background-color: rgb(207, 151, 77);
}
.das-box div:nth-child(5) {
    background-color: rgb(70, 105, 81);
}
.das-box div:nth-child(6) {
    background-color: rgb(155, 57, 78);
}