.title {
  font-size: 200%;
  text-align: center;
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 98rem;
}
main section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main section aside {
  padding: 2rem 2rem;
}
main section aside h2 {
  text-align: center;
}
main section aside ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  border: 0.1rem solid antiquewhite;
  border-radius: 0.5rem;
}
main section aside ul li {
  padding: 0.6rem 0;
}
main section aside ul li a {
  text-decoration: none;
}
main section aside ul li a:hover,
main section aside ul li a:focus {
  color: antiquewhite;
  background-color: black;
}
